.tags {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1176px;
	// margin-top: auto;
	margin-bottom: 21px;
	margin-right: auto;
	margin-left: auto;


	@media screen and (max-width: 767px) {
		display: block;
		order: -1;

		position: relative;
		overflow-x: auto;
		margin-bottom: 18px;
		margin-right: unset;
		margin-left: unset;
		padding-bottom: 6px;

		&__container {
			display: block;
			overflow-x: auto;
		}

		&__list {
			width: 1176px;
			max-width: 1176px;
			overflow-x: scroll;
		}

		&__title {
			color: #212121;
			font-family: "Roboto Condensed";
			font-size: 5vw;
			font-weight: 400;
			margin-bottom: 15px;
		}

		&__all {
			display: none;
		}

		&.main-tags {
			display: block;
			overflow-x: unset;
			margin-bottom: 30px;
			padding-left: 16px;
		}
	}

	.container {
		position: relative;
	}

	.text-default & {
		margin: 0 auto 0 0;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;

		&.active {
			.tags__item {
				display: block !important;
			}
		}
	}

	&__item {
		border: 1px solid #f1f1f1;
		padding: 5px 11px;
		margin-right: 4px;
		margin-bottom: 3px;

		// &:last-child {
		// 	margin-right: 0;
		// }

		&:hover {
			border: 1px solid #334399;
		}

		&:hover {
			background-color: rgba(238, 238, 238, 0.29);
		}
		// display: none;

		a {
			color: $base;
			font-family: Arial, sans-serif;
			font-size: 14px;
			line-height: 28px;
			padding-bottom: 3px;
			text-decoration: none !important;

			&:hover {
				// border-bottom: 1px dashed transparent;
			}
		}

		&.active {
			border: 1px solid #334399;

			a {
				color: $base;
				font-family: Arial, sans-serif;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 0.6px;
			}
		}

		&.button, &.js-tags_data {
			display: flex;
			align-items: center;
			align-items: center;
			order: 2;
			border: 0;
			background-color: transparent;
			color: $base;
			cursor: pointer;

			&:after {
				content: "";
				width: 12px;
				height: 12px;
				background: url("https://icongr.am/entypo/chevron-small-down.svg?color=394791&size=50");
				background-size: 22px;
				background-position: center;
				background-repeat: no-repeat;
				margin-left: 5px;
			}

			a {
				border-bottom: 1px dashed $base;
				line-height: 1;
			}
		}

		&.another {
			order: 3;
		}

		&.last {
			order: 4;
		}

		// &:nth-child(-n+8) {
		// 	display: block;
		// }
		&.show {
			display: flex !important;
		}
	}

	&__title {
		color: #212121;
		font-family: "Roboto Condensed";
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 48px;
	}


	&__all {
		position: absolute;
		top: 4px;
		right: 3px;
		border: 1px solid $base;
		padding: 6px 12px;
		transform: translateY(-4px);
		border-radius: 3px;
		color: $base;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none !important;
	}

	&.main-tags {
		position: relative;
		margin-bottom: 48px;

		@media screen and (max-width: 1200px) and (min-width: 768px) {
			flex: 1 1 100%;
			width: fill-available;
			max-width: 100%;
			margin: 0 16px 48px;
		}
	}
}
