<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		{% include 'section/sidebar/sidebar.html' %}
	</div>
	<div class="col-md-9">
		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<a href="/" title="Главная" itemprop="item">
						<span itemprop="name">
							Liebherr
						</span>
					</a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem">
					<span itemprop="name">Доставка и оплата</span>
					<a itemprop="item" href="/delivery-and-payment/" title="Доставка и оплата"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>
		<h1 class="title">
			Доставка и оплата
		</h1>
		<div class="text-default">

			<img src="/upload/medialibrary/3f8/3f8f87e15ebff4c9fd33886d9a0d3673.png"
				title="Доставка техники со специальным лейблом осуществляется бесплатно">
			<br>

			<h2 class="page__title3" style="text-align: center;">Доставка по&nbsp;Москве</h2>

			<br>

			<div><b>В выходные и праздничные дни доставка осуществляется в одном временном интервале: с 10:00 до 20:00.
				</b>
			</div>

			<br>

			<table class="page__table" style="border-collapse: collapse;">
				<tbody>
					<tr>
						<th rowspan="2"> Вид техники </th>
						<th colspan="2" align="center"> Стоимость доставки прибора* </th>
					</tr>

					<tr>
						<th> первого </th>
						<th>последующего </th>
					</tr>

					<tr>
						<td style="border-image: initial;"> Крупногабаритная техника: холодильники и&nbsp;морозильники
							высотой
							от&nbsp;86&nbsp;до&nbsp;201&nbsp;см и&nbsp;шириной до&nbsp;69&nbsp;см </td>
						<td style="border-image: initial;"><b>700&nbsp;руб.</b> </td>
						<td style="border-image: initial;"> <b>450&nbsp;руб.</b> </td>
					</tr>

					<tr>
						<td style="border-image: initial;"> Холодильники Side-by-Side, многокамерные холодильники
							и&nbsp;холодильники шириной более 70&nbsp;см <b>1200&nbsp;руб.</b> <b>800&nbsp;руб.</b>
							Средняя
							бытовая техника: посудомоечные машины, стиральные машины, стирально-сушильные машины,
							холодильники
							и&nbsp;морозильники высотой до&nbsp;86&nbsp;см, духовые шкафы, вытяжки, плиты, варочные
							панели
							<b>600&nbsp;руб.</b> <b>400&nbsp;руб.</b> Малогабаритная бытовая техника: микроволновые
							печи,
							электропечи и&nbsp;аксессуары <b>350&nbsp;руб.</b> <b>150&nbsp;руб.</b>
							<p>Стоимость доставки техники по&nbsp;Московской области: стоимость доставки техники
								по&nbsp;Москве
								+ 30&nbsp;руб.&nbsp;за&nbsp;каждый км&nbsp;удаленности от&nbsp;МКАД.</p>

							<p>*При необходимости вы&nbsp;можете ускорить время доставки, выбрав сокращенный
								(3&nbsp;часа)
								VIP-интервал (в&nbsp;диапазоне стандартного времени). В&nbsp;этом случае
								к&nbsp;стандартной
								доставке прибавляется 300&nbsp;руб.</p>

							<p>При заказе комплекта техники приоритет будет у&nbsp;модели с&nbsp;большей стоимостью
								доставки.
								Доставка комплекта техники на&nbsp;расстояние 15&nbsp;км за&nbsp;МКАД обойдется
								в&nbsp;1950
								рублей (прим.&nbsp;1200&nbsp;— за&nbsp;холодильник, 300&nbsp;— за&nbsp;посудомоечную
								машину
								и&nbsp;450 рублей&nbsp;— за&nbsp;доставку на&nbsp;расстояние 15&nbsp;км за&nbsp;МКАД).
							</p>

							<p>Доставка бытовой техники по&nbsp;Москве и&nbsp;Московской области осуществляется
								с&nbsp;помощью
								курьерской службы. Служба доставки работает без выходных.</p>

							<p><b>Время доставки:</b></p>

							<ul>
								<li>С&nbsp;12.00 до&nbsp;18.00;</li>

								<li>С&nbsp;16.00 до&nbsp;22.00. </li>
							</ul>

							<p>Если заказ сделан до&nbsp;16:00, он&nbsp;может быть доставлен на&nbsp;следующий день при
								условии
								наличия товара на&nbsp;складе. Если заказ сделан после 16:00, он&nbsp;доставляется через
								день.
								Наличие должно быть подтверждено менеджером интернет-магазина по&nbsp;телефону:
								<strong>+7
									(495) 649-63-61</strong>. </p>

							<p><b>Условия доставки</b></p>

							<ul>
								<li>При безналичной оплате товар доставляется в&nbsp;течение трех дней <span
										style="background-color: rgb(255, 255, 255);">с&nbsp;момента поступления денег
										на&nbsp;счет.</span></li>

								<li>Приобретенная в&nbsp;нашем интернет-магазине техника доставляется
									по&nbsp;фактическому
									адресу.</li>

								<li>При оформлении заявки необходимо указать точный адрес доставки, в&nbsp;том числе:
									улицу,
									дом, номер квартиры или офиса.</li>

								<li>В&nbsp;лесные массивы, на&nbsp;пляжи, в&nbsp;парки и&nbsp;на&nbsp;пустыри доставка
									техники
									не&nbsp;осуществляется.</li>

								<li>Доставка товара в&nbsp;офисные здания и&nbsp;на&nbsp;территорию предприятия
									осуществляется
									до&nbsp;контрольно-пропускного пункта или проходной.</li>

								<li>Курьер ждет не&nbsp;более 15&nbsp;минут.</li>

								<li>Если курьер вынужден воспользоваться платной парковкой, ее&nbsp;стоимость оплачивает
									заказчик.</li>

								<li>В&nbsp;случае превышения времени стоянки в&nbsp;центре Москвы стоимость доставки
									увеличивается на&nbsp;50&nbsp;рублей.</li>
							</ul>

							<h2 class="page__title3" style="text-align: center;">Стоимость ручного подъема при
								отсутствии лифта
							</h2>

							<table class="page__table" style="border-collapse: collapse;">
								<tbody>
									<tr>
										<td style="border-image: initial;">
											<p><b>Наименование техники </b></p>
										</td>
										<td style="border-image: initial;">
											<p><b>Стоимость подъема на&nbsp;этаж</b></p>
										</td>
									</tr>

									<tr>
										<td style="border-image: initial;">
											<p>Малая бытовая техника</p>
										</td>
										<td style="border-image: initial;">
											<p>до&nbsp;15&nbsp;кг&nbsp;— 100&nbsp;руб.&nbsp;за&nbsp;этаж
												<br>
												от&nbsp;15&nbsp;кг&nbsp;— 150&nbsp;руб.&nbsp;за&nbsp;этаж</p>
										</td>
									</tr>

									<tr>
										<td style="border-image: initial;">
											<p>Варочные панели, встраиваемые и&nbsp;козырьковые вытяжки, мини-печи</p>
										</td>
										<td style="border-image: initial;">
											<p>100&nbsp;руб.&nbsp;за&nbsp;этаж</p>
										</td>
									</tr>

									<tr>
										<td style="border-image: initial;" initial;&raquo;="">
											<p>Крупная бытовая техника: духовые шкафы, вытяжки, встраиваемые
												микроволновые
												печи, стиральные, стирально-сушильные и&nbsp;посудомоечные машины,
												холодильники
												и&nbsp;морозильники шириной до&nbsp;60&nbsp;см</p>
										</td>
										<td style="border-image: initial;" initial;&raquo;="">
											<p>150&nbsp;руб.&nbsp;за&nbsp;этаж</p>
										</td>
									</tr>

									<tr>
										<td style="border-image: initial;" initial;&raquo;="">
											<p>Стандартные холодильники и&nbsp;морозильники шириной 70&nbsp;см</p>
										</td>
										<td style="border-image: initial;" initial;&raquo;="">
											<p>250&nbsp;руб.&nbsp;за&nbsp;этаж</p>
										</td>
									</tr>

									<tr>
										<td style="border-image: initial;" initial;&raquo;="">
											<p>Холодильники Side-by-Side, негабаритный и&nbsp;крупногабаритный товар</p>
										</td>
										<td style="border-image: initial;" initial;&raquo;="">
											<p>от&nbsp;400&nbsp;руб.&nbsp;за&nbsp;этаж*</p>
										</td>
									</tr>
								</tbody>
							</table>

							<p> *Итоговая стоимость зависит от&nbsp;габаритов прибора и&nbsp;условий подъема.</p>

							<h2 style="text-align: center;">Стоимость подъема на&nbsp;лифте соответствует стоимости
								подъема
								на&nbsp;1&nbsp;этаж.</h2>

							<p>Бытовая техника доставляется в&nbsp;квартиру, если есть свободный проход. Грузчики
								и&nbsp;экспедиторы не&nbsp;имеют права демонтировать ручки и&nbsp;двери приборов,
								которые
								создают помехи при транспортировке, так как впоследствии сервисный центр может
								отказаться
								проводить гарантийный ремонт.</p>

							<p>Если курьер не&nbsp;застал покупателя на&nbsp;месте или не&nbsp;смог до&nbsp;него
								дозвониться,
								доставка не&nbsp;будет осуществлена, но&nbsp;ее&nbsp;можно перенести на&nbsp;другое
								время
								по&nbsp;согласованию с&nbsp;менеджером.</p>

							<h2 style="text-align: center;">Осмотр и&nbsp;проверка техники</h2>

							<p>При получении товара внимательно проверьте его целостность, комплектацию
								и&nbsp;отсутствие
								следов установки. После подписания договора техника не&nbsp;может быть возвращена из-за
								внешнего вида, в&nbsp;соответствии со&nbsp;статьями 458 и&nbsp;459&nbsp;ГК РФ.
								Требования
								ст.&nbsp;484&nbsp;ГК РФ&nbsp;обязательны к&nbsp;выполнению, несмотря на&nbsp;загрязнение
								товара
								и&nbsp;малую освещенность помещения.</p>

							<p>Обмен товара или возврат денежных средств Покупателю осуществляется после проведения
								экспертизы
								сервисного центра.</p>

							<p>Вы&nbsp;можете отказаться от&nbsp;товара, если его качество Вас не&nbsp;устраивает,
								в&nbsp;любое
								время до&nbsp;подписания документов, а&nbsp;также в&nbsp;течение семи дней после
								передачи.
								Обмен или возврат возможен при выполнении следующих условий:</p>

							<ul>
								<li>техника не&nbsp;эксплуатировалась;</li>

								<li>прибор не&nbsp;утратил потребительских свойств и&nbsp;товарный вид;</li>

								<li>сохранились товарный и&nbsp;кассовый чеки, а&nbsp;также инструкция, упаковка, пломбы
									и&nbsp;ярлыки;</li>

								<li>у&nbsp;товара нет механических повреждений: вмятин, трещин, царапин и&nbsp;сколов;
								</li>

								<li>техника не&nbsp;входит в&nbsp;перечень товаров, которые не&nbsp;подлежат возврату
									и&nbsp;обмену (перечень таких товаров утвержден Постановлением Правительства РФ
									№&nbsp;55&nbsp;от&nbsp;19&nbsp;января 1998&nbsp;года).</li>
							</ul>

							<h2 style="text-align: center;">Доставка в&nbsp;Санкт-Петербург и&nbsp;регионы России </h2>

							<p>Доставка по&nbsp;Санкт-Петербургу производится согласно действующим тарифам. Доставка
								в&nbsp;регионы осуществляется через транспортную компанию.</p>

							<p>«ЖелДорЭкспедиция»&nbsp;— <noindex><a href="http://www.jde.ru/online/calculator.html"
										rel="nofollow" target="_blank">Калькулятор</a></noindex>
							</p>

							<p>«ПЭК»&nbsp;— <noindex><a
										href="https://pecom.ru/services-are/the-calculation-of-the-cost/" rel="nofollow"
										target="_blank">Калькулятор</a></noindex>
							</p>

							<p>«КИТ»&nbsp;— <noindex><a href="http://tk-kit.ru/" rel="nofollow"
										target="_blank">Калькулятор</a>
								</noindex>
							</p>

							<p><b>Оформление заказа</b></p>

							<p>Необходимо указать телефон и&nbsp;адрес электронной почты, чтобы менеджер мог с&nbsp;Вами
								связаться и&nbsp;согласовать детали заказа, а&nbsp;также выслать счет на&nbsp;оплату
								товара,
								в&nbsp;который входит также стоимость доставки товара до&nbsp;склада транспортной
								компании.</p>

							<p><b>Внимание! Доставка в&nbsp;регионы осуществляется по&nbsp;стопроцентной предоплате!</b>
							</p>

							<p><b>Оплата</b></p>

							<p>В&nbsp;течение трех рабочих дней после оформления заказа его нужно оплатить в&nbsp;любом
								банке
								России. Как только денежные средства поступают на&nbsp;наш счет, товар резервируется
								на&nbsp;складе. В&nbsp;случае отсутствия техники на&nbsp;складе, менеджер
								интернет-магазина
								поможет выбрать другой товар либо оформить документы для возврата денег.</p>

							<p><b>Отгрузка</b></p>

							<p>Отгрузка техники со&nbsp;склада&nbsp;ТК в&nbsp;Москве происходит в&nbsp;течение
								3&nbsp;рабочих
								дней после оплаты. Когда товар будет отправлен, на&nbsp;Вашу электронную почту придет
								письмо
								с&nbsp;подтверждением, в&nbsp;котором будет указан номер товарной накладной.
								На&nbsp;сайте
								транспортной компании по&nbsp;этому номеру всегда можно проследить актуальный статус
								груза.</p>

							<p><b>Сроки доставки</b></p>

							<p>Сроки получения товара сообщает менеджер после оформления заказа. Транспортная компания
								доставляет товар до&nbsp;регионального склада либо по&nbsp;указанному адресу. Способ
								получения
								можно согласовать со&nbsp;специалистами транспортной компании.</p>

							<p><b>Получение товара</b></p>

							<p>Для получения товара необходимо предоставить:</p>

							<ul>
								<li>физическим лицам&nbsp;— паспорт гражданина&nbsp;РФ;</li>

								<li>юридическим лицам&nbsp;— паспорт и&nbsp;доверенность на&nbsp;получение груза.</li>
							</ul>

							<h3 class="page__title3" style="text-align: center;">Условия продажи товара физическим лицам
							</h3>

							<p>Оформляя заказ в&nbsp;специализированном магазине Schaub Lorenz, вы&nbsp;соглашаетесь
								с&nbsp;<a href="/dostavka/agreement.php">условиями продажи товара физическим лицам.</a>
							</p>

							<h2 style="text-align: center;">Способы оплаты</h2>

							<ul>
								<li><b>Наличный расчет.</b></li>
							</ul>

							<p></p>

							<p style="text-align: left;">Клиент оплачивает стоимость заказа наличными средствами
								непосредственно при получении товара.</p>

							<p style="text-align: left;"> </p>

							<ul>
								<li><b>Оплата картой при получении товара*.</b></li>
							</ul>

							<p></p>

							<p style="text-align: left;">Клиент оплачивает стоимость заказа безналичными средствами
								непосредственно при получении товара.</p>

							<p style="text-align: left;"> </p>

							<ul>
								<li><b>Онлайн-оплата картой на&nbsp;сайте*.</b></li>
							</ul>

							<p></p>

							<p style="text-align: left;">Клиент оплачивает стоимость заказа безналичными средствами
								непосредственно на&nbsp;сайте. Ссылка на&nbsp;онлайн-оплату будет доступна после
								согласования
								с&nbsp;менеджером.</p>

							<p style="text-align: left;"><i>*Допускается оплата картами: Visa&nbsp;/ Visa
									Electron&nbsp;/
									MasterCard&nbsp;/ MasterCard Electronic&nbsp;/ Maestro. </i></p>

							<p style="text-align: left;"> </p>

							<ul>
								<li><b>Оплата по&nbsp;счету (банковский перевод) </b></li>
							</ul>

							<p style="text-align: left;">На&nbsp;электронную почту клиента, юридического или физического
								лица,
								высылается счет на&nbsp;оплату. Срок действия счета на&nbsp;предоплату&nbsp;—
								3&nbsp;дня.</p>

							<p style="text-align: left;">Счета-фактуры и&nbsp;товарные накладные передаются
								из&nbsp;офиса перед
								началом работы, с&nbsp;утра. Срок действия документов&nbsp;— один день, поэтому
								рекомендуется
								выбрать и&nbsp;согласовать дату получения товара до&nbsp;16:00 предыдущего дня.</p>

							<p style="text-align: left;">Техника отгружается представителям юридического лица либо
								специалистам
								транспортной компании только при наличии доверенности на&nbsp;получение товара.</p>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
