<div class="d-flex flex-column-reverse flex-md-row">
	<div class="col-md-3">
		<div class="sidebar">
			<ul class="work-link">
				<li class="work-link__item"><a class="work-link__a" href="/service/">Сервисные центры</a></li>
				<li class="work-link__item"><a class="work-link__a" href="/documentation/">Техническая документация</a>
				</li>
				<li class="work-link__item"><a class="work-link__a" href="/warranty/">Официальная гарантия</a></li>
			</ul>
			<div class="yandex">
				<div class="yandex__inner">
					<div class="yandex__logo">
						<img src="images/ylogo.png" alt="" srcset="" class="yandex__img">
					</div>
					<div class="yandex__ratings">
						<img src="images/5-stars.png" alt="" srcset="">
					</div>
					<a href="#" target="_blank" class="yandex__button">Оставить отзыв</a>
					<a href="#" target="_blank" class="yandex__button">Читать все отзывы</a>
				</div>
			</div>
			<div class="quality">
				<span class="quality__title">Контроль качества</span>
				<span class="quality__text">Номер для претензий и предложений:</span>
				<a href="tel:+74951201196" class="quality__number">+7 (495) 120-11-96</a>
				<span class="quality__worktime">с 9:00 до 18:00</span>
				<a href="#" class="quality__button" id="js-quality-opener">Написать</a>
			</div>
		</div>

	</div>
	<div class="col-md-9">

		<div class="breadcrumbs">
			<div itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><a href="/" title="Главная" itemprop="item"><span
							itemprop="name">Grohe</span></a>
					<meta itemprop="position" content="1">
				</div>
				<div class="breadcrumbs__sep">»</div>
				<div class="breadcrumbs__link" itemprop="itemListElement" itemscope=""
					itemtype="http://schema.org/ListItem"><span itemprop="name">Карта сайта</span><a itemprop="item"
						href="#" title="Карта сайта"></a>
					<meta itemprop="position" content="2">
				</div>
			</div>
		</div>

		<h1 class="title">Карта сайта</h1>
		<div class="site-map">

			<div class="site-map__col">
				<div class="site-map__items">
					<div class="site-map__title">
						Категории
					</div>
					<!-- /.site-map__title -->
					<div class="site-map__list">

						<div class="site-map__category">
							<a href="/catalog/smesiteli/" title="Стиральные машины Schaub Lorenz">
								Стиральные машины Schaub Lorenz
							</a>
						</div>

						<ul class="site-map__inner js-site-map__inner">

							<li>
								<a href="" title="Ванная Grohe SPA">
									Стирально-сушильные машины Schaub Lorenz
								</a>

							</li>

							<li class="site-map__link">
								<a href="/catalog/group/grohe-spa/smesiteli/" title="">
									Стиральные машины Schaub Lorenz с сушкой
								</a>
							</li>

						</ul>

						<ul class="site-map__inner js-site-map__inner">

							<li>
								<a href="" title="Ванная комната Grohe">
									Посудомоечные машины Schaub Lorenz
								</a>

							</li>

							<li class="site-map__link">
								<a href="/catalog/group/vannaya-komnata/smesiteli/" title="">
									Встраиваемые посудомоечные машины Schaub Lorenz
								</a>
							</li>
						</ul>

						<ul class="site-map__inner js-site-map__inner">

							<li>
								<a href="" title="Туалетная комната Grohe">
									Холодильники Schaub Lorenz
								</a>

							</li>

							<li class="site-map__link">
								<a href="/catalog/group/tualetnaya-komnata/smesiteli/" title="">
									Встраиваемые холодильники Schaub Lorenz
								</a>
							</li>
						</ul>

						<div class="site-map__category">
							<a href="/catalog/smesiteli/" title="Стиральные машины Schaub Lorenz">
								Морозильники Schaub Lorenz
							</a>
						</div>

						<ul class="site-map__inner js-site-map__inner">

							<li>
								<a href="/catalog/collection/#type251" title="Варочные панели Schaub Lorenz">
									Варочные панели Schaub Lorenz
								</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Relexa plus">
									Газовые варочные панели Schaub Lorenz
								</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Euphoria Cosmopolitan">
									Электрические варочные панели Schaub Lorenz
								</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Relexa">
									Индукционные варочные панели Schaub Lorenz
								</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Movario">
									Варочные панели Schaub Lorenz с 4 конфорками
								</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Euphoria Cube">
									Варочные панели Schaub Lorenz шириной 44см
								</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Euphoria Cube">
									Варочные панели Schaub Lorenz с электроподжигом
								</a>
							</li>

						</ul>

						<ul class="site-map__inner js-site-map__inner">

							<li>
								<a href="/catalog/collection/#type252" title="">
									Духовки Schaub Lorenz
								</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Grohtherm Smart Control">Встраиваемые вытяжки Schaub Lorenz</a>
							</li>
						</ul>

						<ul class="site-map__inner js-site-map__inner">

							<li>
								<a href="/catalog/collection/#type253" title="Термостаты">Вытяжки Schaub Lorenz</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Grohtherm Smart Control">Встраиваемые вытяжки Schaub Lorenz</a>
							</li>

						</ul>

						<ul class="site-map__inner js-site-map__inner">

							<li>
								<a href="/catalog/collection/#type254" title="В классическом стиле">Печи Schaub
									Lorenz</a>
							</li>

							<li class="site-map__link">
								<a href="" title="Avina">Мини печи Schaub Lorenz</a>
							</li>

						</ul>

						<div class="site-map__category">
							<a href="/catalog/smesiteli/" title="Микроволновые печи Schaub Lorenz">
								Микроволновые печи Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/smesiteli/" title="Телевизоры Schaub Lorenz">
								Телевизоры Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/smesiteli/" title="Аксессуары Schaub Lorenz">
								Аксессуары Schaub Lorenz
							</a>
						</div>

					</div>

				</div>
			</div>

			<div class="site-map__col">

				<div class="site-map__items">
					<div class="site-map__title">
						Отзывы о технике Schaub Lorenz
					</div>
					<!-- /.site-map__title -->
					<div class="site-map__list">

						<div class="site-map__category">
							<a href="/catalog/smesiteli/" title="Смесители Grohe">
								Отзывы о стиральных машинах Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/dushi/" title="Души Grohe">
								Отзывы о стирально-сушильных машинах Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/dushevye-sistemy/" title="Душевые системы Grohe">
								Отзывы о посудомоечных машинах Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/sistemy-installyatsii/" title="Системы инсталляции Grohe">
								Отзывы о холодильниках Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/aksessuary/" title="Аксессуары Grohe">
								Отзывы о морозильниках Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/aksessuary/" title="Аксессуары Grohe">
								Отзывы о варочных панелях Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/aksessuary/" title="Аксессуары Grohe">
								Отзывы о духовых шкафах Schaub Lorenz
							</a>
						</div>

						<div class="site-map__category">
							<a href="/catalog/termostaty/" title="Термостаты Grohe">
								Отзывы о вытяжках Schaub Lorenz
							</a>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
