.about-us {

	//   display: flex;
	//   flex-wrap: wrap;
	//   margin-bottom: 63px;
	//   flex-direction: row;
	h4 {
		margin-bottom: 12px;
	}

	h3 {
		max-width: 285px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		font-size: 23px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 30px;
		letter-spacing: normal;
		text-align: left;
		color: #333333;
		width: 100%;
		margin-right: 16px;
		margin-bottom: 0;

		&.color {
			color: #394791;
		}
	}

	h5 {
		color: #394791;
		font-family: "Roboto Condensed";
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
		margin-bottom: 24px;
	}

	article {
		display: block;
		margin-bottom: 30px;

		&.about-us__text {
			display: flex;
			width: 100%;
			flex-direction: row;
		}

		&:after {
			clear: both;
			content: '';
			display: flex;
		}
	}

	img {
		// margin-right: 28px;
		// width: 66%;
		// margin-bottom: 50px;
	}

	&__img {
		float: left;
	}

	// p {
	// 	width: calc(34% - 28px);
	// 	color: #333333;
	// 	font-family: Arial,sans-serif;
	// 	font-size: 14px;
	// 	line-height: 22px;
	// 	text-align: left;
	// 	z-index: 99;
	// 	margin-top: 0 !important;
	// 	margin-bottom: 16px;


	// 	&~p {
	// 		width: calc(100% - 304px);
	// 	}

	// }
	p {
		color: #262626;
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 22px;

		img {
			margin-left: 16px;
		}
	}

	iframe {
		margin: 39px 0 42px;
	}



	// .product-card__collection

	.product-card {

		// .product-card__collection

		&__collection {
			position: relative;
			margin: 58px 0 60px;

			.tags {

				// .tags__title

				&__title {
					color: #212121;
					font-family: "Roboto Condensed";
					font-size: 26px;
					font-weight: 400;
					margin-bottom: 26px;

					span {
						color: #999999;
					}
				}

				// .tags__container

				&__container {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 14px;
				}

				// .tags__list

				&__list {
					padding-bottom: 160px;
				}

				// .tags__item

				&__item {
					max-width: 100%;
					border: 0;
					margin-right: 15px;
					margin-bottom: 10px;
					padding: 0;
					// height: 200px;
					display: flex;
					align-items: baseline;
					// position: absolute;

					&:hover {
						background: 0;
					}

					&.cur {
						// position: relative;
					}
				}

				// .tags__link

				&__link {
					color: $base;
					font-family: "Roboto Condensed";
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					border-radius: 4px;
					background-color: #f8f8f8;
					border: 1px solid transparent;
					padding: 11px 26px;
					margin-left: 11px;
					// position: absolute;
					// top: 39px;
					// left: 0;

					&:hover {
						border: 1px solid $base;
					}

					&:first-child {
						margin-left: 0;
					}

					&.cur {
						border: 1px solid $base;
					}
				}

				.tags__item+.tags__item {
					// left: ;
				}

			}

			.collection {

				// .collection__link

				&__link {
					display: flex;

					flex-direction: column;
					position: relative;
					padding: 16px 18px;

					text-decoration: none !important;

					&:hover {
						.collection__hidden {
							opacity: 1;
						}
					}
				}

				// .collection__text

				&__text {
					color: #333333;
					font-family: "Roboto Condensed";
					font-size: 18px;
					font-weight: 400;
					line-height: 26px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-bottom: 14px;
				}

				// .collection__pic

				&__pic {
					width: 100%;
					height: 250px;
					margin-bottom: 16px;

					picture {

						// height: 95px;
						img {

							// height: fit-content !important;

						}
					}

					img {
						width: auto;
						height: auto;
						object-fit: contain;
					}
				}

				// .collection__buy

				&__buy {
					position: absolute;
					right: 18px;
					bottom: 19px;
					padding: 0;
					color: transparent;
					background-image: url('../images/buy02.svg');
					background-size: auto;
					background-position: 50%;
					width: 40px;
					height: 34px;
					border-radius: 3px;

					font-family: Roboto Condensed;
					font-size: 14px;
					background-color: $base;
					background-repeat: no-repeat;
					box-shadow: 0 0 0 0 rgba(0, 0, 0, .16);
					text-decoration: none;
					font-weight: 400;
					text-transform: uppercase;
					margin: 0;

					line-height: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					border: none;
					cursor: pointer;
					text-align: center;
				}

				// .collection__info

				&__info {
					margin-top: 18px;
				}

				// .collection__sale

				&__sale {
					font-size: 20px;
					line-height: 1.2;
					font-weight: 600;
					font-style: normal;
					font-stretch: normal;
					letter-spacing: normal;
					text-align: left;
					color: #2e2e2e;
					white-space: nowrap;
					height: 100%;
					display: flex;
					align-items: center;
					margin-top: 8px;
					width: calc(100% - 45px);

					i {
						font-size: 14px;
						font-style: normal;
						margin-left: 5px;
					}
				}

				&__hidden {
					display: flex;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					flex-direction: column;
					color: #333333;
					font-family: "Roboto Condensed";
					font-size: 18px;
					font-weight: 400;
					line-height: 26px;
					background: white;
					padding: 16px 18px;
					opacity: 0;
					transition: 0.3s;

					p,
					ul {
						color: #333333;
						font-family: Arial;
						font-size: 14px;
						font-weight: 400;
						line-height: 22px;
						margin-bottom: 0;
						margin-top: 18px;

						&.link {
							color: $base;
							margin-top: 24px;
							color: #394791;
							font-family: Arial;
							font-size: 14px;
							font-weight: 400;
							line-height: 16px;
						}
					}
				}


			}


			.swiper-container {
				position: absolute;
				width: 100%;
				left: 0vw;
				align-self: flex-end;
				opacity: 0;
				bottom: 2px;
				// &.active {
				// 	left: unset;
				// 	position: relative;
				// }

			}


			.cur {
				z-index: 9;

				.swiper-container {
					// position: absolute;
					// width: 100%;
					// left: -100vw;

					// &.active {
					left: 0;
					opacity: 1;
					z-index: 9;
					// position: relative;
					// }

				}

				.tags__link {
					border: 1px solid $base;
				}
			}

			.swiper-wrapper {}

			.swiper-slide {
				border: 1px solid #eeeeee;
				background-color: #ffffff;
			}

			.swiper-pagination-collection {
				top: 14px;
				right: 124px;
				display: flex;
				justify-content: flex-end;
				width: auto;
				position: absolute;
			}

			.swiper-pagination-bullet:not(:last-child) {
				margin-right: 16px;
			}

			.swiper-pagination-bullet-active {
				background: $base;
			}

			.collection__prev {
				background: url("../images/special-offers_prev.svg") 0/34px no-repeat;
				position: absolute;
				top: 22px;
				right: 48px;
				left: unset;
				width: 34px;
				height: 34px;

				&:hover {
					background: url("../images/swiper-button-color-prev.svg") 0/34px no-repeat;
				}
			}

			.collection__next {
				background: url("../images/special-offers_next.svg") 0/34px no-repeat;
				top: 22px;
				right: 3px;
				width: 34px;
				height: 34px;

				&:hover {
					background: url("../images/swiper-button-color-next.svg") 0/34px no-repeat;
				}
			}

			.swiper-pagination-collection,
			.collection__prev,
			.collection__next {
				display: none;


			}

			.cur {

				.swiper-pagination-collection,
				.collection__prev,
				.collection__next {
					display: flex;


				}
			}
		}
	}

	.ratings {
		display: flex;
		margin-bottom: 8px;
		color: #333333;
		font-family: Arial;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;

		&__star {
			width: 20px;
			height: 20px;
			background: url("../images/star.svg") no-repeat;
			background-position: center;
			background-size: cover;
		}

		&__number {
			margin-left: 8px;
		}
	}

	.special-offers.catalog {
		width: 100% !important;
		margin-bottom: 46px !important;
	}

	@media screen and (max-width: 767px) {

		margin-bottom: 4px;

		iframe {
			max-width: 482px;
			width: 100%;
			max-height: 245px;
			margin: 21px 0 38px;
		}

		&__text {
			flex-wrap: wrap;
		}

		img {
			&.pic_left {
				// margin-bottom: 0;
				margin-top: 0;
			}
		}

		h3 {
			max-width: unset;
			margin-right: 0;
			color: #333;
			font-size: 20px;
			font-weight: 400;
			line-height: 30px;
			margin-bottom: 6px !important;
		}

		article {
			margin-bottom: 26px;
		}

		h4 {
			margin-bottom: 0;
		}

		h5 {
			font-size: 18px;
			line-height: 30px
		}

		p {}



		.product-card__collection {
			margin-top: 10px;
			margin-bottom: 40px;

			.swiper-pagination-collection {
				display: none;
				bottom: 0px;
				top: unset;
				right: unset;
				width: 100%;
				justify-content: center;

				.swiper-pagination-bullet {
					display: block !important;
				}
			}

			[role="button"] {
				display: none !important;
			}

			.tags__list {
				width: auto;
				padding-bottom: 300px;
				flex-shrink: 0;

				li {
					height: auto;
				}
			}

			.tags__item {
				margin-bottom: 24px;
			}

			.swiper-container {
				pointer-events: none;
				opacity: 0;
				height: auto;
				bottom: 10px;
				padding-bottom: 14px !important;
			}


			.cur {
				z-index: 9;

				.swiper-container {
					pointer-events: all;
					opacity: 1;
				}

				.swiper-pagination-collection {
					display: flex;

					.swiper-pagination-bullet {
						display: block !important;
					}
				}
			}

			.collection__link {
				flex-direction: row;
				flex-wrap: wrap;
				padding: 24px 0px 25px 0px;
				margin: 0 14px;
				height: auto;

			}

			.collection__pic {
				margin-bottom: 0px;
				margin-right: 0;
				text-align: center;
				max-width: unset;
				height: 100px;
				flex-grow: 0;
				width: 94px;

				img {
					max-width: 94px;
					max-height: 100px;
				}
			}

			.collection__text {
				max-width: unset;
				padding-bottom: 0;
				flex-grow: 1;
				color: #333333;
				font-family: "Roboto Condensed";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
			}

			.collection__desc {
				width: calc(100% - 94px);
			}

			.collection__info {
				margin-top: 6px;
			}

			.collection__hidden {
				opacity: 1;
				font-size: 0;
				line-height: 0;
				position: static;
				padding: 0;
				border-top: 1px solid #f1f1f1;
				margin-top: 24px;

				.ratings {
					display: none;
				}
			}

			.collection__sale {
				width: calc(100% - 55px);

			}

			.collection__buy {
				margin-left: auto;
			}

			.tags__title {
				// font-size: 22px;
				font-weight: 400;
				line-height: 30px;
				display: flex;
				flex-wrap: wrap;

				a {
					margin: 0 5px;
				}
			}


		}

		.special-offers.catalog .container {
			padding: 0 !important;

			.special-offers__title {
				font-size: 24px;
				font-weight: 400;
				line-height: 29px;
			}
		}
	}
}
