<div class="header__telephones">
	<a href="" class="header__call-phone-button js-viewForm" data-action="callback">Заказать звонок</a>
	<div class="telephones">
		<a href="tel:+74956496361" class="header__phone">+7 495 649-63-61</a>
		<a href="tel:+78005559804" class="header__phone">+7 800 555-98-04</a>
	</div>
	<div class="time-work">
		<div class="time-work__text">Режим работы</div>
		<div class="time-work__text"><b>Пн-Пт:</b> с 8:00 до 22:00<br><b>Сб-Вс:</b> с 9:00 до 22:00</div>
		<a href="mailto:shop@schaub-lorenz-russia.ru" class="time-work__email">
			<i>Email:</i> shop@schaub-lorenz-russia.ru</a>
	</div>
</div>
